body, .main{
    background: var(--color-light-white);
}




.section__title{
    line-height: 30px;
    margin:  2rem 0;
    font-size: var(--fs-38);
    font-weight: 500;
    text-align: start;
}
/* Section 1 */
.nav__des-1{
    font-size: var(--fs-20);
}
.nav__des-right{
    text-align: start;
}
.nav__des-center{
    left: 15rem;
    bottom: 10rem;
}
.contactUsSection__1{
    margin: 0 5rem;
}
.comment{
    padding: 10px;
    width: 100%;
    line-height: 1.5;
    border-radius: 0;
    border: solid 1px rgba(0, 0, 0, .2);
    background: var(--color-light-white);
}

.form-control{
    height: 45px;
    margin-top: 20px;
    border-radius: 0;
    background: var(--color-light-white);
}
.contactUsSection__1-btn{
    background: var(--color-light-yellow);
    margin: 0;
    font-size: var(--fs-12);
    text-transform: uppercase;
    opacity: .7;
    margin-top: 2rem;
}
.contactUsSection__1-pt{
    border-bottom: solid 1px rgba(0, 0, 0, .2);
}
.contactUsSection__1-right li:nth-child(1){
    margin-top: 0
}
.contactUsSection__1-right li{
    list-style: none;
    margin-top: 4rem;
}
.contactUsSection__1-right{
    margin-left: 60px;
}
.contactUsSection__1-title{
    font-size: 18px;
    font-weight: 500;
    /* margin: 1rem 0; */
}
.contactUsSection__1-mail{
    font-size: 12px;
    position: relative;
    width: max-content;
}
.contactUsSection__1-mail::after{
    content: '';
    width: 0px;
    height: 1px;
    background-color: var(--color-black);
    opacity: .2;
    position: absolute;
    left: 0;
    bottom: -.5rem;
    transition: width .3s;
}
.contactUsSection__1-mail:hover .contactUsSection__1-mail::after{
    width: 100%;
}


/* End Section 1 */
/* Section 2 */


/* Section 17 */
.contactUsSection__1-content{
    position: relative;
}
.contactUsSection__1-map{
    width: 100%;
    height: var(--height-map);
    border: none;
    
}
.contactUsSection__1-schedule-content{
    height: max-content;
    width: max-content;
    position: absolute;
    top: 0;
    left: 5rem;
    bottom: 0;
    margin: auto 0;
    font-size: var(--fs-16);
    font-weight: 500;
    letter-spacing: .1rem;
    background: var(--color-white);
    padding: 2rem;
    width: 350px;


}
.contactUsSection__1-schedule-content  table{
    display: flex;
    box-shadow: none;
    width: 100%;
    font-size: unset;
    color: rgb(var(--color-foreground));
}
.contactUsSection__1-schedule-des{
    display: flex;
    justify-content: space-between;
}
.contactUsSection__1-schedule-p{
    font-size: var(--fs-12);
    letter-spacing: .1rem;
    color: var(--color-light-black);
    opacity: .8;
    line-height: 14px;
}
.contactUsSection__1-schedule-oppen{
    position: relative;
    font-size: var(--fs-12);
    letter-spacing: .1rem;
    color: var(--color-light-black);
    opacity: .8;
    line-height: 14px;
    
}
.block{
    width: 100%;
    opacity: .5;
    border-bottom: solid 1px var(--color-black);
    margin: 1rem 0;
}
.contactUsSection__1-btn{
    width: 100%;
    margin: 0;
    padding: .8rem;
}
