.giftSetSection__1, .giftSection__recent, .giftSetSection__3{
    margin: 0 5rem;
}
.giftSetSection__1-content{
    width: 70%;
}
.section__pd-top{
    height: var(--height-img-pd);
}
.panel__content{
    display: block;
    margin-left: -10px;
}
.panel__content-reset{
    position: relative;
    opacity: .8;
}
.panel__content-reset::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--color-black);
    opacity: .3;
    left: 0;
    bottom: -.2rem;
    transition: width .3s;
}
.panel__content-reset:hover .panel__content-reset::after{
    width: 100%;
}
.section__p{
    margin: 0;
    padding: 0;
    margin-left: 5px;
    opacity: .8;
    font-weight: 500;
}
.panel__content-detail{
    margin: 1rem 0;
}
.panel__content-detail label{
    margin-bottom: 5px;
}

.panel__content-range {
    width: 100%;
    margin: 2rem 0;
}
  
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: var( --color-range);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--color-black);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--color-black);
    cursor: pointer;
}
.brandSection__3-img-content{
    text-align: center;
}

.brandSection__3-img{
    height: 260px;
    width: 100%;
    object-fit: cover;
}
.brandSection__3-img-content-title{
    font-size: var(--fs-24);
}
.brandSection__3-btn{
    border: solid 1px rgba(0, 0, 0, .2);
    padding: 1rem 2rem;
    text-transform: uppercase;
    opacity: .8;
    font-size: var(--fs-10);
}
.section__product-product{
    margin-top: 0;
}

/* Dropdown */

.brandSection__2-dropBtn {
    border: solid 1px rgba(0,0,0,0.2);
    background: white;
    padding: .8rem 2rem;
    font-size: var(--fs-12);
    font-weight: 500;
    letter-spacing: 1px;
    width: 200px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background: var(--color-white);
    min-width: 200px;
    overflow: auto;
    z-index: 1;
  }
  .brandSection__2-drop{
    font-size: var(--fs-12);
    margin: .5rem 0;
    opacity: .8;
  }

  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .show {display: block;}

  /* End Drop */

.brandSection__2-top{
    display: flex;
    justify-content: space-between;
}
.brandSection__2-dropIcon{
    font-size: var(--fs-20);
    margin: 0 .5rem;
}