
.menu__navbar:hover {
    background: var(--color-white);
    border-radius: 0;
    
}
.menu__navbar:hover .navbar__langues-option, .navbar-brand {
    color:var(--color-black);
}
.menu__navbar:hover  .navbar-brand {
    color:var(--color-black);
}
.menu__navbar:hover .navbar__select-icon, .navbar__select-icon-down{
    color:var(--color-black);
}
.menu__navbar:hover .navbar__select-icon-down{
    color:var(--color-black);
}
.menu__navbar:hover .navbar__logo-white{
    display: none;
}
.menu__navbar:hover .navbar__logo-black{
    display: block;
}
.navbar__logo-black{
    display: none;
}

.navbar__1{
    width: 100%;
    display: flex;
    
}
.bg__menu{
    max-height: var(--height-img);
    object-fit: cover;
    position: relative;
}
.bg__menu-img{
    height: var(--height-img) !important;
    width: 100%;
    object-fit: cover;
}


.menu__navbar{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    height: 135px;
    align-items: center;
    padding: 1rem 5rem;
    
    
}
.navbar-brand, .navbar__langues-option{
    color: var(--color-white);

}
.navbar__1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__select-icon{
    font-size: var(--fs--icon-md);
    margin: 0 1rem;
    color: var(--color-white);
}
.navbar__select-icon-down{
    font-size: 1.3rem;
    margin: 0 1rem;
    color: var(--color-white);
}
.navbar__2{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.navbar-brand{
    padding: 0 4rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: var(--fs-12);
    
}
.navbar-title{
    position: relative;
    width: fit-content;
}
.navbar-title::after{
    content: '';
    width: 0;
    height: 1px;
    background-color: var(--color-black);
    opacity: .2;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width .3s;
}
.navbar-title:hover:after{
    width: 100%;
}
.nav__des-left{
    text-align: start;
    position: absolute;
    right: 0;
    left: 5rem;
    bottom: 10rem;
    color: var(--color-white);
}
.nav__des-mid{
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10rem;
    color: var(--color-white);
}
.nav__des-right{
    text-align: end;
    position: absolute;
    right: 5rem;
    bottom: 10rem;
    color: var(--color-white);
}
/* .nav__des-1, .nav__des-2,.nav__des-button{
    text-align: center;
} */
.nav__des-2{
    font-size: var(--fs-nav-des-1);
}
.nav__des-button{
    margin-top: var(--pd-nav__des-button);
}
.nav__des-view{
    text-decoration: none;
    padding: 1.8rem 6rem;
    background: var(--color-white);
    text-transform: uppercase;
    font-weight: 400;
    color: var(--color-black);
    opacity: 8;
}

.main{
    background: var(--color-white);
}


.carousel__pg{
    list-style: none;
}




/* Section template 1 */

.template__text{
    max-width: 72.6rem;
    text-align: center;
    margin: auto;
}

.section__des-1 mark{
    background: #bbff00;
}

/* END Section template 1 */



/* Section template 2 */

.section__2{
    position: relative;
    color: var(--color-white);
}

.template__2-content{
    height: max-content;
    position: absolute;
    top: 0;
    left: 5rem;
    bottom: 0;
    margin: auto 0;
}
.template__2-btn{
    padding: 4rem 0;
}
.template__2-button{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: .2em;
    color:var(--color-white);
    border-bottom: solid 1px white;
}
.template__2-btn-play{
    padding-top: 5.125rem;
    color: var(--color-white);
    display: flex;
    align-items: center;
}
.template__2-icon{
    font-size: var(--fs--icon-lg);
    color: var(--color-white);
    margin-right: 2rem;
}


.section__13-img{
    width: 100%;
    height: var(--height-img-banner);
    object-fit: fill;
}


/* END Section template 2 */


/* Section 4 */

.section__4{
    position: relative;
    
}
.template__4-content{
    position: absolute;
    height: max-content;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
    text-align: center;
    color: var(--color-white);
    padding: 4rem 3.5rem;
    
}


/* End Section 4 */


/* Section 5 */
.section__5, .section__8, .section__9{
    margin: 2.25rem 5rem;
    padding: 4.75rem 3.125rem;
    
}
.section__content{
    display: flex;
    background: var(--color-light-white);
}
.section__left{
    margin: auto;
    padding: 3.125rem 5rem;
    
}
.section__5-btn{
    background: var(--color-black);
    color: var(--color-white);
    padding: 1.5rem 6rem;
    border: none;
    font-size: var(--fs-12);
    letter-spacing: .2rem;
    font-weight: 600;

}
.section__right{
    padding: 0;
    margin: 0;
}
/* Section 5 */

/* Section 6 */

.section__6{
    margin: 2.25rem 5rem;
    padding: 4.75rem 3.125rem;
    text-align: center;
}
.section__pd-top{
    position: relative;
}
.section__6-pd:hover .pd__img-1a{
    display: none;
}
.section__6-pd:hover .pd__img-1b{
    display: block;
    transform: scale(1.1);
    animation: change-img 1s ease;
    
}
.section__6-pd:hover .section__pd-right{
    display: block;
    animation: zoom-out 1s ease-in-out;
}
.section__6-pd:hover .section__pd-bot{
    display: block;
    animation: change-button 1s ease-in-out;
}
.section__6-pd:hover .section__pd-name::after{
    width: 100%;
}


.section__6-pd{
    height: 100%;
    overflow: hidden;
}
.section__6-pag{
    text-align: start;
    margin: 3rem 0 0 3.5rem;
}
.section__6-pag-btn{
    margin: 0 .3rem;
    width: 4rem;
    height: 2px;
    border: none;
    background: var(--color-black);
    opacity: .5;
    cursor: pointer;
    transition: .4s;
}
.section__6-active{
    height: 4px;
}

.section__6-slides{
    width: 500%;
    height: 100%;
    display: flex;
}
.section__6-slide{
    width: 20%;
    transition: .6s;
}
input[name='r']{
    visibility: hidden;
}
#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}



/* End Section 6 */
/* Section 8 */
.section__btn{
    background: var(--color-light-yellow);
    color: var(--color-light-black);
    padding: 1.5rem 6rem;
    opacity: .7;
    border: none;
    font-size: var(--fs-12);
    letter-spacing: .2rem;
    font-weight: 600;
}

/* End Section 8 */


/* Section 10 */

.section__10-content{
    background: var(--color-light-orian);
    
}

.panel-group .panel{
    border-radius: 0;
}
.section__10-panel{
    position: relative;
    background: transparent;
    border: none;
    box-shadow: none;
    
}
.section__10-panel::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--color-black);
    opacity: .2;
    left: 0;
    transition: width .3s;

}
div.section__10-panel::after:nth-child(4){
    color: red;
}
.panel-group{
    overflow: hidden;
}
.panel-heading{
    padding-left: 0;
}
.section__10-panel .panel-heading{
    background: transparent;
}
.section__10-panel .panel-title{
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-20);
    color: var(--color-black);
    letter-spacing: .2rem;
}
.section__10-panel .panel__icon-down{
    font-size: var(--fs-14);
    display: flex;
    align-items: center;
}
.panel__icon-up{
    display: none !important;
    font-size: var(--fs-14);
    display: flex;
    align-items: center;
    
}
.panel-ship{
    display: flex;
}


.panel-btn{
    padding: 2rem 0;
}
.panel-a{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.panel-button{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: .2em;
    color:var(--color-black);
    
}
.panel-button::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--color-black);
    opacity: .2;
    left: 0;
    bottom: -1rem;
    transition: width .3s;
}

.section__10-panel a {
    text-decoration: none;
}

/* End Section 10 */

/* Section 11 */
.section__11{
    height: var(--height-img);
    width: 100%;
    overflow: hidden;
}
.section__11-content{
    position: relative;
    margin: 0 5rem;
}
.section__11-img{
    width: 100%;
    height: var(--height-img);
    position: absolute;
}
#section__11-img-a{
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
    transition: width 0.2s;
}
#section__11-slider{
    position: relative;
    -webkit-appearance: none;
    width: calc(100% + 40px);
    height: var(--height-img);
    margin-left: -20px;
    background-color: transparent;
    outline: none;
}
#section__11-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    background: url(../img/slider-icon.svg),
    rgba(255, 255, 255, .3);
    border: 3px solid var(--color-white);
    border-radius: 50%;
    background-size: contain;
    cursor: pointer;
    position: relative;

}



/* EndSection 11 */
.section__12{
    position: relative;
    margin: 0 5rem;
}

/* Section 12 */
.section__12-collapse-title{
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    display: flex;
    align-items: center;
    max-width: 100%;
}
.section__12-collapse-des1{
    font-size: var(--fs-12);
    
}
.scrolly{
    overflow-y: scroll;
    height: 150px;
}
.section__12-btn-cart{
    border: solid 1px var(--color-light-black);
    background: var(--color-white);
    width: 100%;
    margin: 0;
}

.section__12-btn{
    width: 100%;
    margin: .5rem 0;
}
.section__12-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
}


/* EndSection 12 */

/* Section 13 */

.section__13-pd{
    padding-bottom: 1rem;
    margin: 1rem 0;
    border-bottom: solid 1px rgba(33, 35, 38, .5);
}
.section__13-pd-img{
    margin: auto;
    width: 100%;
    height: 94px;
}
.section__13-pd-detail{
    display: flex;
    justify-content: space-between;
}

.section__13-pd-detail-left{
    display: block;
}

.section__13-button{
    margin-top: 2rem ;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: var(--fs-12);
    line-height: 2rem;
    letter-spacing: .1em;
    color:var(--color-light-black);
    /* opacity: .7; */
    display: none;
}
.section__13-button::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--color-black);
    opacity: .2;
    left: 0;
    bottom: -.5rem;
    transition: width .3s;
}

.section__13-pd:hover .section__13-button{
    padding-top: 1rem;
    display: block;

}
/* End Section 13 */
.section__14{
    position: relative;
}

/* Section 14 */
.template__14-content{
    height: max-content;
    width: 100%;
    position: absolute;
    padding-left: 74px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.section__14_btn{
    background: var(--color-black);
    color: var(--color-white);
    padding: 1.5rem 4rem;
    border: none;
    font-size: var(--fs-12);
    letter-spacing: .2rem;
    font-weight: 600;
    text-transform: uppercase;
}
.section__14-p{
    font-size: var(--fs-14);
    padding: 1rem 0;
    letter-spacing: .1rem;
    color: var(--color-light-black);
    opacity: .8;
}
/* End Section 14 */

/* Section 16 */
.section__16{
    text-align: center;
    margin: 2.25rem 5rem;

}

.section__16-content{
    display: flex;
    justify-content: center;
}
.section__16-img{
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.section__16-mid{
    position: relative;
    width: 100%;
    height: 250px;
}
.section__16-mid-title{
    height: max-content;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    font-size: var(--fs-16);
    font-weight: 500;
    letter-spacing: .1rem;
    color: var(--color-white);
}
.section__16-mid-title::before{
    border-bottom: 1px solid white;
}


/* End Section 16 */

/* Banner Run */
.section__bannerRun{
    width: 100%;
    background: var(--color-white);
    padding: 2rem 0;
    animation: banner;
}
/* End Banner Run */




/* Section 17 */
.section__17-content{
    position: relative;
}
.section__17-map{
    width: 100%;
    height: var(--height-map);
    border: none;
    
}
.section__17-schedule-content{
    height: max-content;
    width: max-content;
    position: absolute;
    top: 0;
    left: 5rem;
    bottom: 0;
    margin: auto 0;
    font-size: var(--fs-16);
    font-weight: 500;
    letter-spacing: .1rem;
    background: var(--color-white);
    padding: 2rem;
    width: 350px;


}
.section__17-schedule-content  table{
    display: flex;
    box-shadow: none;
    width: 100%;
    font-size: unset;
    color: rgb(var(--color-foreground));
}
.section__17-schedule-des{
    display: flex;
    justify-content: space-between;
}
.section__17-schedule-p{
    font-size: var(--fs-12);
    letter-spacing: .1rem;
    color: var(--color-light-black);
    opacity: .8;
    line-height: 14px;
}
.section__17-schedule-oppen{
    position: relative;
    font-size: var(--fs-12);
    letter-spacing: .1rem;
    color: var(--color-light-black);
    opacity: .8;
    line-height: 14px;
    
}
.block{
    width: 100%;
    opacity: .5;
    border-bottom: solid 1px var(--color-black);
    margin: 1rem 0;
}
.section__17-btn{
    width: 100%;
    margin: 0;
    padding: .8rem;
}

