:root{

    --height-img: 670px;
    --height-map: 500px;
    --height-img-banner: 650px;


    --color-white:#ffffff;
    --color-light-white:#f9f9f9;
    --palette-hex-code: #FAEAA1;
    --color-light-orian: #f7eedd;
    --color-light-yellow: #faeaa1;
    --color-yellow: #ffb503;
    --color-black:#1a1b18;
    --color-light-black:#2a2b28;
    --color-base-text: rgba(33, 35, 38, .75);


    --fs-navigation-size: 12px;
    --fs--icon-md:2rem;
    --fs--icon-section:2.6rem;
    --fs--icon-lg:4.4rem;
    --fs-nav-des-1: 6.4rem;
    

    --fs-9: 9px;
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-28: 28px;
    --fs-38: 38px;



    --pd-nav__des-button: 1.875rem;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-black);
}
a {
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.menu__navbar {
    background: var(--color-white);
    color: var(--color-black);
    
}
.navbar__1{
    width: 100%;
    display: flex;
    
}
.menu__navbar{
    margin: 0 5rem ;
    display: block;
    justify-content: center;
    height: 135px;
    /* background: black; */
    align-items: center;
}
.navbar__1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__select-icon{
    font-size: var(--fs--icon-md);
    margin: 0 1rem;
}
.navbar__select-icon-down{
    font-size: 1.3rem;
    margin: 0 1rem;
}
.navbar__2{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.navbar-brand{
    padding: 0 4rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: var(--fs-12);
    
}
.navbar-title{
    position: relative;
    width: fit-content;
}
.navbar-title::after{
    content: '';
    width: 0;
    height: 1px;
    background-color: var(--color-black);
    opacity: .2;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width .3s;
}
.navbar-title:hover:after{
    width: 100%;
}
.nav__des-left{
    text-align: start;
    position: absolute;
    right: 0;
    left: 10rem;
    bottom: 10rem;
    color: var(--color-white);
}
.nav__des-mid{
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10rem;
    color: var(--color-white);
}
.nav__des-right{
    text-align: end;
    position: absolute;
    right: 10rem;
    bottom: 10rem;
    color: var(--color-white);
}
/* .nav__des-1, .nav__des-2,.nav__des-button{
    text-align: center;
} */
.nav__des-2{
    font-size: var(--fs-nav-des-1);
}
.nav__des-button{
    margin-top: var(--pd-nav__des-button);
}
.nav__des-view{
    text-decoration: none;
    padding: 1.8rem 6rem;
    background: var(--color-white);
    text-transform: uppercase;
    font-weight: 400;
    color: var(--color-black);
    opacity: 8;
}

.main{
    background: var(--color-white);
}


.carousel__pg{
    list-style: none;
}
