:root{

    --height-img: 670px;
    --height-map: 500px;
    --height-img-banner: 650px;
    --height-img-pd: 420px;
    --height-img-pd-brand: 325px;
    --height-img-explore: 550px;


    --color-white:#ffffff;
    --color-light-white:#f9f9f9;
    --color-range:#d3d3d3;
    



    --palette-hex-code: #FAEAA1;
    --color-light-orian: #f7eedd;
    --color-light-yellow: #faeaa1;
    --color-success:#118044;
    --color-new:#53c0a8;
    --color-yellow: #ffb503;
    --color-banner: #f1ff34;
    --color-black:#1a1b18;
    --color-light-black:#2a2b28;
    --color-base-text: rgba(33, 35, 38, .75);
    --color-red: rgb(215, 44, 13);
    --color-red-blur: rgba(215, 44, 13, .5);


    --fs-navigation-size: 12px;
    --fs--icon-md:2rem;
    --fs--icon-section:2.6rem;
    --fs--icon-lg:4.4rem;
    --fs-nav-des-1: 6.4rem;
    

    --fs-9: 9px;
    --fs-10: 10px;
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-24: 24px;
    --fs-28: 28px;
    --fs-38: 38px;
    --fs-54: 54px;


    --pd-nav__des-button: 1.875rem;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
} 
a {
    text-decoration: none;
    color: var(--color-black);
}
a:hover{
    text-decoration: none;
    color: var(--color-black);
}
.container-fluid, .row{
    padding: 0;
    margin: 0;
}




.section__padding{
    padding: 4.75rem 0 !important;
}


.section__img{
    width: 100%;
    height: var(--height-img-banner);
    object-fit: cover;
}



.template__des-1{
    letter-spacing: 1px;
    font-size: var(--fs-16);
    font-weight: 500;
}
.template__des-2{
    font-size: var(--fs-28);
    font-weight: 500;
    margin: 1.5rem 0;
}
.template__des-3{
    letter-spacing: 1px;
    font-size: var(--fs-20);
    font-weight: 500;
}
.template__des-4{
    font-size: var(--fs-14);
    padding: 2rem 0;
    letter-spacing: .1rem;
    color: var(--color-light-black);
    opacity: .8;
}
.section__des-1{
    line-height: 24px;
    font-size: var(--fs-16);
    margin: 2rem 0; 
}
.section__des-2{
    line-height: 24px;
    font-size: var(--fs-16);
}



.nav__des-center{
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 20rem;
    color: var(--color-white);
}

/* Navbar */


/* Navbar Drop Menu Brand & Explore */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 4rem;
    left: 2rem;
    background-color: var(--color-white);
    min-width: 190px;
    z-index: 1;
  }
  
.dropdown-content a {
    color: var(--color-black);
    /* opacity: .7; */
    font-size: 12px;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
  }
.dropdown__content-detail{
    position: relative;
  }
.dropdown__content-detail::after{
    content: '';
    width: 0;
    height: 1px;
    background-color: var(--color-black);
    opacity: .2;
    position: absolute;
    left: 0;
    bottom: -.2rem;
    transition: width .3s;
}

.dropdown-content a:hover .dropdown__content-detail::after{
    width: 100%;
  }
  
  
.dropdown:hover .dropdown-content {display: block;}

/* End Navbar Drop Menu Brand & Explore */


/* Drop Menu Skincare */
.skincare_menu{
    position: relative;
}
.fall__down{
    display: none;
    width: 100%;
    height: 500px;
    position: absolute;
    left: 0;
    top: 11rem;
    background: var(--color-white);
    padding: 5rem 0 0 0;
    transition: width 1s;
    z-index: 1;

    

}
.skincare__dropMenu:hover .fall__down{
    transition: max-height .5s;
    display: block;
}
.skincare__menu-img1{
    height: 280px;
    width: 100%;
    object-fit: cover;
}
.skincare__menu-img2{
    height: 343px;
    width: 100%;
    object-fit: cover;
    position: relative;
}
.skincare__menu-list li{
    list-style: none;
    padding: .5rem 0;
}
.skincare__drop-detail{
    list-style: none;
    font-size: 12px;
    padding: .5rem 0;
    position: relative;
    
}
.skincare__drop-detail::after{
    content: '';
    width: 0;
    height: 1px;
    background-color: var(--color-black);
    opacity: .2;
    position: absolute;
    left: 0;
    bottom: 0.8rem;
    transition: width .3s;
}
.skincare__drop-detail:hover .skincare__drop-detail::after{
    width: 100%;
}




.skincare__menu-title{
    font-size: 12px;
    letter-spacing: 1px;
    opacity: .6;
}
.skincare__dropMenu-btn{
    text-align: center;
    background: transparent;
    color: var(--color-black);
    padding: .5rem 2rem;
    border: none;
    margin: 2rem 0;
    font-size: var(--fs-12);
    letter-spacing: .2rem;
    font-weight: 600;
    text-transform: uppercase;
    /* border-bottom: solid 1px rgba(33, 35, 38, .5); */

    
}

.skincare__menu-right-b1{
    width: 100%;
    margin: auto;
    text-align: center;
}
.skincare__dropMenu-tagline{
    font-size: var(--fs-14);
    opacity: .9;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}
.skincare__menu-right-b2{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
}

.change__color{
    color: var(--color-white);
}

/* End Drop Menu Skincare */


.menu__navbar:hover {
    background: var(--color-white);
    border-radius: 0;
    transition: all .5s ease-in-out;

    
}
.menu__navbar:hover .navbar__langues-option, .navbar-brand {
    color:var(--color-black);
}
.menu__navbar:hover  .navbar-brand {
    color:var(--color-black);
}
.menu__navbar:hover .navbar__select-icon, .navbar__select-icon-down{
    color:var(--color-black);
}
.menu__navbar:hover .navbar__select-icon-down{
    color:var(--color-black);
}
.menu__navbar:hover .navbar__logo-white{
    display: none;
}
.menu__navbar:hover .navbar__logo-black{
    display: block;
}
.navbar__logo-black{
    display: none;
}

.navbar__1{
    width: 100%;
    display: flex;
    
}
.bg__menu{
    max-height: var(--height-img);
    object-fit: cover;
    position: relative;
}
.bg__menu-img{
    height: var(--height-img) !important;
    width: 100%;
    object-fit: cover;
}


.menu__navbar{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    height: 135px;
    align-items: center;
    padding: 1rem 5rem;
    
    
}
.navbar-brand, .navbar__langues-option{
    color: var(--color-white);

}
.navbar__1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__select-icon{
    font-size: var(--fs--icon-md);
    margin: 0 1rem;
    color: var(--color-white);
}
.navbar__select-icon-down{
    font-size: 1.3rem;
    margin: 0 1rem;
    color: var(--color-white);
}
.navbar__2{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.navbar-brand{
    padding: 0 4rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: var(--fs-12);
    
}
.navbar-title{
    position: relative;
    width: fit-content;
    text-transform: uppercase;
}
.navbar-title::after{
    content: '';
    width: 0;
    height: 1px;
    background-color: var(--color-black);
    opacity: .2;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width .3s;
}
.navbar-title:hover:after{
    width: 100%;
}
.nav__des-left{
    text-align: start;
    position: absolute;
    right: 0;
    left: 5rem;
    bottom: 10rem;
    color: var(--color-white);
}
.nav__des-mid{
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10rem;
    color: var(--color-white);
}
.nav__des-right{
    text-align: end;
    position: absolute;
    right: 5rem;
    bottom: 10rem;
    color: var(--color-white);
}
/* .nav__des-1, .nav__des-2,.nav__des-button{
    text-align: center;
} */
.nav__des-2{
    font-size: var(--fs-nav-des-1);
}
.nav__des-button{
    margin-top: var(--pd-nav__des-button);
}
.nav__des-view{
    text-decoration: none;
    padding: 1.8rem 6rem;
    background: var(--color-white);
    text-transform: uppercase;
    font-weight: 400;
    color: var(--color-black);
    opacity: 8;
}

.main{
    background: var(--color-white);
}


.carousel__pg{
    list-style: none;
}
/* End Navbar */


.section__pd-brand{
    font-size: var(--fs-9);
    color: var(--color-light-black);
    opacity: .5;
}

.section__p{
    font-size: var(--fs-12);
    padding: 1rem 0;
    margin: 0;
    letter-spacing: 1px;
    color: var(--color-light-black);
    opacity: .8;
    line-height: 14px;
    text-align: start;
}

.section__title{
    line-height: 30px;
    margin: 0 0 5rem;
    font-size: var(--fs-38);
    font-weight: 500;
    text-align: center;

}

.section__btn{
    background: var(--color-white);
    color: var(--color-black);
    padding: 1.5rem 8rem;
    border: none;
    margin: 0 1rem;
    font-size: var(--fs-12);
    letter-spacing: .2rem;
    font-weight: 600;
}



.section__pd-star{
    color: var(--color-yellow);
}




/* Section product */
.section__product {
    margin: 2.25rem 5rem;
    text-align: center;
}

.section__product-content{
    padding-top: 1.875rem;
}
.section__product-icon{
    font-size: var(--fs--icon-section);
}
.section__product-title{
    font-size: var(--fs-16);
    margin: 2rem 0;
}
.section__product-des{
    color: var(--color-base-text);
}
.section__product-product{
    margin-top: 5rem;
}
.section__product-pd{
    margin-bottom: 5rem;
}

.section__product-pd:hover .section__pd-right{
    display: block;
    animation: zoom-out 1s ease-in-out;
}
.section__product-pd:hover .section__pd-bot{
    display: block;
    animation: change-button 1s ease-in-out;
}

.section__pd-top{
    position: relative;
    height: var(--height-img-pd);
    overflow: hidden;
    transition: width 2s;
}
.section__pd-left{
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.3rem 1.5rem;
    font-size: var(--fs-12);
    background: #53c0a8;
    color: var(--color-white);
    text-transform: uppercase;
}

.section__pd-right{
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding:1.2rem 1.5rem;
    border-radius: 9000px;
    font-size: var(--fs-14);
    background: var(--color-white);
    color: var(--color-black);
    text-transform: uppercase;
    display: none;
}

.section__product-pd-icon{
    font-size: var(--fs-14);
}
.section__pd-bot{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 1rem;
    background: var(--palette-hex-code);
    padding: 1rem;
    border: none;
    margin: 0 1rem;
    font-size: var(--fs-14);
    letter-spacing: .2rem;
    font-weight: 500;
    display: none;
}

.pd__img-1a, .pd__img-1b{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.section__product-pd:hover .pd__img-1a{
    display: none;
}
.section__product-pd:hover .pd__img-1b{
    display: block;
    transform: scale(1.1);
    animation: change-img 1s ease;
    
}
.pd__img-1b{
    display: none;
}
.section__pd-content{
    margin-top: 1rem;
    text-align: start;
}


.section__pd-name, .section__pd-price{
    font-size: var(--fs-16);
    color: var(--color-black);
    margin: 1rem 0;
    
}
.section__pd-name{
    position: relative;
    width: fit-content;
}
.section__pd-name::after{
    content: '';
    width: 0;
    height: 1px;
    background-color: var(--color-black);
    opacity: .2;
    position: absolute;
    left: 0;
    bottom: -.2rem;
    transition: width .3s;
}
.section__product-pd:hover .section__pd-name::after{
    width: 100%;
}

.section__product-pd-btn{
    background: var(--palette-hex-code);
    padding: 1.5rem 8rem;
    border: none;
    margin: 0 1rem;
    font-size: var(--fs-12);
    letter-spacing: .2rem;
    font-weight: 600;
}


/* End section product */

/* Pannel */
.panel-group .panel{
    border-radius: 0;
}
.section__panel-custom{
    position: relative;
    background: transparent;
    border: none;
    box-shadow: none;
    
}
.section__panel-custom::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--color-black);
    opacity: .2;
    left: 0;
    transition: width .3s;

}




.panel-group{
    overflow: hidden;
}
.panel-heading{
    padding-left: 0;
}
.section__panel-custom .panel-heading{
    background: transparent;
}
.section__panel-custom .panel-title{
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-16);
    color: var(--color-black);
    letter-spacing: .2rem;
}
.section__panel-custom .panel__icon-down{
    font-size: var(--fs-14);
    display: flex;
    align-items: center;
}
.panel__icon-up{
    display: none !important;
    font-size: var(--fs-14);
    display: flex;
    align-items: center;
    
}
.panel-ship{
    display: flex;
}


.panel-btn{
    padding: 2rem 0;
}
.panel-a{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.panel-button{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: .2em;
    color:var(--color-black);
    
}
.panel-button::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--color-black);
    opacity: .2;
    left: 0;
    bottom: -1rem;
    transition: width .3s;
}

.section__panel-custom a {
    text-decoration: none;
}

/* End Panel */


/* Section express */
.section__express{
    text-align: center;
    margin: 2.25rem 5rem;

}

.section__express-content{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.section__express-img{
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.section__express-mid{
    position: relative;
    width: 100%;
    height: 250px;
}
.section__express-mid-title{
    height: max-content;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    font-size: var(--fs-16);
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--color-white);
}



.img{
    width: 300px;
    height: 280px;
    overflow: hidden;
}
.section__express-img{
    height: 100%;
    width: 100%;
    transition: width 1s;
}
.section__express-img:hover{
    transform: scale(1.1);
    animation: change-img 1s ease;

}

/* End Section Express */


/* Section feeback*/
.section__feedback{
    text-align: center;
}

.section__feedback-testimonial{
    /* background: #ff0058; */
    width: 100%;
    height: 350px;
    position: relative;


}
.section__feedback-user-text{
    width: 80%;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.section__feedback-user{
    width: 65px;
    padding: 5px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}
.section__feedback-user-text.active-text{
    display: block;
    animation:  moveup .2s linear forwards;
}
.section__feedback-user.active-pic{
    width: 100px;
}
.section__feedback-user-text .section__p{
    text-align: center;
}


/* End Section feedback*/

/* Section Banner Run */

.section__bannerRun{
    width: 100%;
    background: var(--color-banner);
    padding: 2rem 0;
    animation: banner;
}
.banner__content{
    display: flex;
}
.banner__content p {
    font-size: var(--fs-14);
    padding: 0 2rem;
    margin: 0;
    line-height: var(--fs-14);
}

/* End Banner Run*/




.block{
    width: 100%;
    height: 1px;
    background-color: var(--color-black);
    opacity: .2;
}
.footer{
    margin: 0 5rem;
}
.footer-p{
    font-size: var(--fs-12);
    letter-spacing: .1rem;
    color: var(--color-light-black);
    opacity: .8;
    line-height: 14px;
}
.footer__right-input{
    width: 100%;
    padding: .7rem;
    border: none;
    border-bottom: solid 1px rgba(33, 35, 38, .5);
    margin: 1rem 0;
    font-size: 12px;
    background: transparent;
    /* list-style: none; */
}
.footer__right-icon{
    font-size: 1.5rem;
    padding: .5rem;
    margin: 0 1rem;
   
}
.footer__list-payment{
    list-style: none;
    display: flex;
}
.list-payment__item{
    margin: 0 5px;
}
.footer__bot{
    margin: 8rem 0 4rem 0 !important;
}
.footer__bot-left{
    padding: 0;
}
.footer__bot-right{
    text-align: end;
}
.footer__content-left, .footer__content-right{
    padding-top: 2rem;
}
.footer__p-small{
    font-size: var(--fs-12);
    letter-spacing: .1rem;
    color: var(--color-light-black);
    opacity: .5;
    line-height: 10px;
}

/* Animation */
@keyframes banner{
    0%{
        transform: translateZ(0);
        visibility: visible;
    }
    100%{
        transform: translate3d(-100%,0,0);
    }
}

@keyframes moveup{
    0%{
        margin-top: 25px;
    }
    100%{
        margin-top: 0px;
    }
}
@keyframes zoom-out {
    0% {
      transform: scale(0, 0);
    }
    50% {
      transform: scale(1, 1);
    }
  }
@keyframes change-img {
    0% {
        /* opacity: .5; */
        transform: scale(1);
    }
    50% {
        /* opacity: 1; */
        transform: scale(1.1);
    }
  }
@keyframes change-button {
    0% {
        /* bottom: 0rem; */
        opacity: 0;
    }
    50% {
        opacity: 1;
        /* bottom: 1rem; */
        transform: scale(1);
    }
}
@keyframes menu-animation {
    0% {
        width: 0;
        opacity: 0;
        background: var(--color-white);
    }
    50% {
        width: 50%;
        opacity: .5;
        background: var(--color-white);
    }
    100%{
        width: 100%;
        opacity: 1;
        background: var(--color-white);
    }
}


@keyframes zoom-fade {
    0% {
      opacity: 0;
      transform: scale(1.2);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes zoom-fade-small {
    0% {
      opacity: 0;
      transform: scale(1.1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes appear-down {
    0% {
      opacity: 0;
      transform: translateY(-1rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes appear-up {
    0% {
      opacity: 0;
      transform: translateY(1rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes bounce {
    0%,
    100% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0
    }
    to {
      opacity: 1
    }
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1
    }
    to {
      opacity: 0
    }
  }
  
  @keyframes preloading {
    0%, 44%, 88.1%, 100% {
          transform-origin: left;
      }
      
      0%, 100%, 88% {
          transform: scaleX(0);
      }
      
      44.1%, 88% {
          transform-origin: right;
      }
      
      33%, 44% {
          transform: scaleX(1);
      }
  }
  